.carousel {
  outline: none;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control-prev {
  margin-left: -150px;
}

.carousel-control-next {
  margin-right: -150px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%);
}

.sr-only {
  display: none;
}
