.btn-burgundy {
  color: #ffffff;
  background-color: #990000;
}

.btn-burgundy:hover {
  background-color: #800000;
}

@media only screen and (max-width: 1000px) {
  li {
    text-align: center;
  }
}

li:hover {
  cursor: pointer;
  background-color: #fff6e6;
}
