<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc966;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/logo.svg" alt="Logo" width="50" height="50" class="d-inline-block align-middle">
      Hear It
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'favorites'">Mes favoris</a>
        </li>
      </ul>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="d-flex">
        <select class="form-select me-2" id="category" formControlName="category">
          <option value="artist">Artiste</option>
          <option value="track">Titre</option>
          <option value="album">Album</option>
        </select>
        <input class="form-control me-2" type="search" id="search" formControlName="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-burgundy" type="submit" [disabled]="searchForm.invalid">Rechercher</button>
      </form>
    </div>
  </div>
</nav>
