<nav class="navbar navbar-light" style="background-color: #ffc966;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/logo.svg" alt="Logo" width="50" height="50" class="d-inline-block align-middle">
      Hear It
    </a>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="d-flex">
      <input class="form-control me-2" type="search" formControlName="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-burgundy" type="submit">Rechercher</button>
    </form>
  </div>
</nav>
